{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}

<head>
    <meta charset="utf-8" />
    <title>Car Manager</title>
    <style>
		.right { float: right; text-align: right; }
		.div { border:1px solid black; }
    </style>
</head>
<html>
<body>
<div id="background" style="background-color:#38A987;background-repeat:no-repeat;
		background-size:80%;padding:0 130px;height:650px;background-position:20% 0;">
    <div class="container"><br /><br />
        <div class="right">
            <br /><button type="button">Potential Sales</button>
            <div style="padding: 5px 0;">
                <button type="button" style="padding: 0 22px;">Sold Cars</button>
            </div>
        </div>
        <form action="" method="CAR">
			<div>
				<br />
				Dealership: <select name="dealership">
					<option value="none">Select</option>
					<option value="brown daub">Brown Daub</option>
					<option value="i can't think of another">Other</option>
				</select>
				&emsp;Car Make: <select name="make_name">
					<option value="none">Select</option>
					<option value="nissan">Nissan</option>
					<option value="ford">Ford</option>
					<option value="chevy">Chevy</option>
					<option value="audi">Audi</option>
				</select>
				&emsp;Car Model: <select name="model_name">
					<option value="none">Select</option>
					<option value="rogue">Rogue</option>
					<option value="taurus">Taurus</option>
					<option value="camaro">Camaro</option>
					<option value="a8">A8</option>
				</select>
				&emsp;Car Color: <select name="color">
					<option value="none">Select</option>
					<option value="red">Red</option>
					<option value="blue">Blue</option>
					<option value="black">Black</option>
					<option value="white">White</option>
					<option value="purple">Purple</option>
					<option value="yellow">Yellow</option>
					<option value="pink">Pink</option>
					<option value="orange">Orange</option>
					<option value="green">Green</option>
				</select>
			</div>
			<div>
				<button type="button" style="padding: 0 39px;" data-toggle="modal" data-target="#addDealershipModal">Add Dealership</button>
				<div class="modal fade" id="addDealershipModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h3 class="modal-title" id="dealershipModal" style="float:left;"> Add Dealership </h3>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float:right;">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form>
									<div class="row">
										<div class="form-group col-md-12">
											<input class="form-control" id="dealership" type="text" placeholder="Add...">
										</div>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
								<button type="submit" class="btn btn-primary" data-dismiss="modal">Enter</button>
							</div>
						</div>
					</div>
				</div>
				<button type="button" style="padding: 0 41px;" data-toggle="modal" data-target="#addMakeModal">Add Make</button>
				<div class="modal fade" id="addMakeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h3 class="modal-title" id="makeModal" style="float:left;"> Add Make </h3>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float:right;">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form>
									<div class="row">
										<div class="form-group col-md-12">
											<input class="form-control" id="make" type="text" placeholder="Add...">
										</div>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
								<button type="submit" class="btn btn-primary" data-dismiss="modal">Enter</button>
							</div>
						</div>
					</div>
				</div>
				<button type="button" style="padding: 0 45px;" data-toggle="modal" data-target="#addModelModal">Add Model</button>
				<div class="modal fade" id="addModelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h3 class="modal-title" id="modelModal" style="float:left;"> Add Model </h3>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float:right;">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form>
									<div class="row">
										<div class="form-group col-md-12">
											<input class="form-control" id="model" type="text" placeholder="Add...">
										</div>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
								<button type="submit" class="btn btn-primary" data-dismiss="modal">Enter</button>
							</div>
						</div>
					</div>
				</div>
				<button type="button" style="padding: 0 43px;" data-toggle="modal" data-target="#addColorModal">Add Color</button>
				<div class="modal fade" id="addColorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h3 class="modal-title" id="colorModal" style="float:left;"> Add Color </h3>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float:right;">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form>
									<div class="row">
										<div class="form-group col-md-12">
											<input class="form-control" id="color" type="text" placeholder="Add...">
										</div>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
								<button type="submit" class="btn btn-primary" data-dismiss="modal">Enter</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<br />Car Year: <input name="year" type="number" min="1990" max="2021" value="1990">
				Car Mileage: <input name="mileage" type="number" min="1000" max="75000" value="1000">
				Car VIN#: <input name="vin" type="number" min="00000000" max="9999999" value="0000000">
				Car Price: <input name="price" type="number" min="30000" max="150000" value="30000">
			</div>
			<div>
				<br />Description:<br />
				<textarea name="description" cols="79" rows="3" style="width: 57.5%;resize:none;"></textarea>
			</div>
			<div style="width:657px">
				<div style="float:left;padding:25px 0;">
					<form action="/action_page.php" name="car_upload">
					  <input type="file" accept="image/*" id="car_image" onchange="showImage(event)" style="display:none">
					  <label for="car_image" style="cursor:pointer;color:black;">Upload Image</label>
					</form>
					<div>
						<img id="car" alt="Upload" style="width:300px;padding:5px 0;display:none;"/>
					</div>
				</div>
				<div style="padding: 25px 0;text-align:right;">
					<button type="submit" style="padding: 0 19px;" value="CAR">Add Car</button><br />
					<div style="padding:15px 0;">
						<button type="button" style="padding: 1px 5px;" value="DELETE">Remove Car</button>
					</div>
				</div>
			</div>
        </form>
    </div>
</body>
</div>
<script>
	var showImage = function(event)
	{
		debugger;
		var image = document.getElementById("car");
		var back = document.getElementById("background");
		var url = "url('" + URL.createObjectURL(event.target.files[0]) + "')";
		//image.src = URL.createObjectURL(event.target.files[0]);
		back.style.backgroundImage = url;
		image.onload = function ()
		{ 
			image.style.display = "";
		}
		//URL.revokeObjectURL(url);
	};
</script>
</html>

{% endblock %}