{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
<div class="container">
    <h1 class="text-center">Customer Dashboard</h1>


    <div class="row overflow-auto">
        {% for c in customers %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#info_{{c.customer_id}}">
            {{ c.f_name }} {{ c.l_name }}
        </button>
        <a type="submit" data-toggle="modal" data-target="#confirmmodal_{{c.customer_id}}">
            X
        </a>
        <!--confirm delete -->
        <div class="modal fade" id="confirmmodal_{{c.customer_id}}">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="modal-body">
                            <input class="hidden" name="customer_id" value="{{c.customer_id}}">
                            Are you sure you want to delete {{ c.f_name }} {{ c.l_name }}?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                            </button>
                            <input type="submit" class="btn btn-primary" value="Submit" name="DELETE"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <!-- Customer Info -->
        <div class="modal fade" id="info_{{c.customer_id}}" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">

                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row text-center">
                            <h2 class="modal-title" id="info_{{c.customer_id}}_longtitle">
                                Customer Information</h2></div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                style="float:right;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="row text-center"><h3>{{c.f_name}} {{c.l_name}}</h3></div>
                    <div class="modal-body">
                        <form method="POST">
                            {% csrf_token %}

                            <input class="hidden" name="customer_id" value="{{c.customer_id}}">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="my-1 mr-2" for="fname">First Name</label>
                                    <textarea class="form-control" id="fname" name="fname"
                                              rows="1"></textarea>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="my-1 mr-2" for="fname">Last Name</label>
                                    <textarea class="form-control" id="lname" name="lname"
                                              rows="1"></textarea>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                                </button>
                                <input type="submit" class="btn btn-primary" value="Make Change" name="CUSTOMER_EDIT"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newcustomer">
            +
        </button>
    </div>

    <!-- Customer -->
    <div class="modal fade" id="newcustomer" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="customerlongtitle" style="float:left;"> Add Customer </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            style="float:right;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form method="POST">

                        {% csrf_token %}

                        <div class="row">
                            <div class="form-group col-md-5">
                                <label class="my-1 mr-2" for="customer_fname">First Name</label>
                                <textarea class="form-control" id="customer_fname" name="customer_fname"
                                          rows="1" required></textarea>
                            </div>
                            <div class="form-group col-md-5">
                                <label class="my-1 mr-2" for="customer_lname">Last Name</label>
                                <textarea class="form-control" id="customer_lname" name="customer_lname"
                                          rows="1" required></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-5">
                                <label class="my-1 mr-2" for="customer_email">Email</label>
                                <textarea class="form-control" id="customer_email" name="customer_email"
                                          rows="1" required></textarea>
                            </div>
                            <div class="form-group col-md-5">
                                <label class="my-1 mr-2" for="customer_password">Password</label>
                                <textarea class="form-control" id="customer_password" name="customer_password"
                                          rows="1" required></textarea>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                            </button>
                            <input type="submit" class="btn btn-primary" value="Submit" name="NEW_CUSTOMER"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!--Saved Listing-->
    <h4>Saved Listings</h4>
    <table id="saved" class="table table-striped table-bordered table-sm" cellspacing="0"
           width="100%">
        <thead>
        <tr>
            <th class="th-sm">Make</th>
            <th class="th-sm">Model</th>
            <th class="th-sm">Year</th>
            <th class="th-sm">Price</th>
            <th class="th-sm">Mileage</th>
            <th class="th-sm">Color</th>
            <th class="th-sm">Dealership</th>
            <th class="th-sm"></th>
        </tr>
        </thead>
        <tbody>

        {% for p in potentials%}
        <tr>
            <td>{{ p.inv_id.car_id.mm_id.make }}</td>
            <td>{{ p.inv_id.car_id.mm_id.model }}</td>
            <td>{{ p.inv_id.car_id.year }}</td>
            <td>{{ p.inv_id.car_id.ticket_price }}</td>
            <td>{{ p.inv_id.car_id.mileage}}</td>
            <td>{{ p.inv_id.car_id.color_id.color }}</td>
            <td>{{ p.inv_id.car_id.site_id.site_name}}</td>
            <td>
                <div class="text-center vcenter" style="padding-right:10px">
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#confirm_delete_{{p.car_id.car_id}}">Remove
                    </button>
                </div>
            </td>
        </tr>
        <!-- Remove -->
        <div class="modal fade" id="confirm_delete_{{p.car_id.car_id}}">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="modal-body">
                            <input class="hidden" name="potential_id" value="{{ p.potential_id }}">
                            Are you sure you want to delete this car?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                            </button>
                            <input type="submit" class="btn btn-primary" value="Submit" name="REMOVE_POTENTIAL"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% endfor %}

        </tbody>
    </table>

    <!--Purchase History-->
    <h4>Purchase History</h4>

    <table id="history" class="table table-striped table-bordered table-sm" cellspacing="0"
           width="100%">
        <thead>
        <tr>
            <th class="th-lg">Transaction #</th>
            <th class="th-sm">Make</th>
            <th class="th-sm">Model</th>
            <th class="th-sm">Year</th>
            <th class="th-sm">Price</th>
            <th class="th-sm">Mileage</th>
            <th class="th-sm">Color</th>
            <th class="th-sm">Dealership</th>
        </tr>
        </thead>
        <tbody>
        {% for t in transactions %}
        <tr>
            <td>{{ t.transaction_id }}</td>
            <td>{{ t.car_id.mm_id.make }}</td>
            <td>{{ t.car_id.mm_id.model }}</td>
            <td>{{ t.car_id.year }}</td>
            <td>{{ t.car_id.ticket_price }}</td>
            <td>{{ t.car_id.mileage}}</td>
            <td>{{ t.car_id.color_id.color }}</td>
            <td>{{ t.car_id.site_id.site_name}}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>


{% endblock %}