{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
<div class="container">
    <h1>Salesperson Dashboard</h1>


    <div class="row">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newdealership">
            New Dealership
        </button>


    </div>

    <!-- Dealership -->
    <div class="modal fade" id="newdealership" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="dealershiplongtitle" style="float:left;"> Dealership </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            style="float:right;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form method="POST">

                        {% csrf_token %}

                        <div class="row">
                            <div class="form-group col-md-5">
                                <label class="my-1 mr-2" for="dealership_name">Dealership Name</label>
                                <textarea class="form-control" id="dealership_name"
                                          name="dealership_name"
                                          rows="1" required></textarea>
                            </div>

                        </div>

                        <div class="row">

                            <div class="form-group col-md-5">
                                <label class="my-1 mr-2" for="dealership_st_num">Street Number</label>
                                <textarea class="form-control" id="dealership_st_num" name="dealership_st_num"
                                          rows="1" required></textarea>
                            </div>

                            <div class="form-group col-md-5">
                                <label class="my-1 mr-2" for="dealership_st_name">Street Name</label>
                                <textarea class="form-control" id="dealership_st_name" name="dealership_st_name"
                                          rows="1" required></textarea>
                            </div>

                            <div class="form-group col-md-5">
                                <label class="my-1 mr-2" for="dealership_zipcode">Zipcode</label>
                                <input class="form-control" id="dealership_zipcode" name="dealership_zipcode"
                                       type="number"
                                       placeholder="Zipcode" required>

                            </div>

                            <div class="form-group col-md-5">
                                <label class="my-1 mr-2" for="dealership_city">City</label>
                                <textarea class="form-control" id="dealership_city" name="dealership_city"
                                          rows="1" required></textarea>
                            </div>
                            <div class="form-group col-md-5">
                                <label class="my-1 mr-2" for="dealership_state">State</label>
                                <textarea class="form-control" id="dealership_state" name="dealership_state"
                                          rows="1" required></textarea>
                            </div>

                        </div>

                        <table id="tabledealership" class="table table-striped table-bordered table-sm" cellspacing="0"
                               width="100%">
                            <thead>
                            <tr>
                                <th class="th-lg">Dealerships</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for d in dealerships %}
                            <tr>
                                <td>{{ d.site_name }}</td>
                            </tr>

                            {% endfor %}
                            </tbody>
                        </table>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                            </button>
                            <input type="submit" class="btn btn-primary" value="Submit" name="DEALERSHIP"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row overflow-auto">
        {% for s in salesman %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#info_{{s.employee_id}}">
            {{ s.f_name }} {{ s.l_name }}
        </button>
        <a type="submit" data-toggle="modal" data-target="#confirmmodal_{{s.employee_id}}">
            X
        </a>
        <!--confirm delete -->
        <div class="modal fade" id="confirmmodal_{{s.employee_id}}">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="modal-body">
                            <input class="hidden" name="salesman_id" value="{{s.employee_id}}">
                            Are you sure you want to delete this?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                            </button>
                            <input type="submit" class="btn btn-primary" value="Submit" name="DELETE"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <!-- Salesperon Info -->
        <div class="modal fade" id="info_{{s.employee_id}}" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">

                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row text-center">
                            <h2 class="modal-title" id="info_{{s.employee_id}}_longtitle">
                                Salesperson History</h2></div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                style="float:right;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="row text-center"><h3>{{s.f_name}} {{s.l_name}}</h3></div>
                    <div class="modal-body">
                        <table id="transactions_table" class="table table-striped table-bordered table-sm"
                               cellspacing="0"
                               width="100%">
                            <thead>
                            <tr>
                                <th class="th-sm">Customer Name</th>
                                <th class="th-sm">Car ID</th>
                                <th class="th-sm">Color</th>
                                <th class="th-sm">Make & Model</th>
                                <th class="th-sm">Mileage</th>
                                <th class="th-sm">Price</th>
                                <th class="th-sm">Lot</th>
                                <th class="th-sm">Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for t in transactions%}

                            {% if t.employee_id.employee_id == s.employee_id%}
                            <tr>
                                <td>{{ t.customer_id.f_name }} {{ t.customer_id.l_name }}</td>
                                <td>{{ t.car_id.car_id}}</td>
                                <td>{{ t.car_id.color_id.color}}</td>
                                <td>{{ t.car_id.mm_id.make }} {{ t.car_id.mm_id.model }}</td>
                                <td>{{ t.car_id.mileage }}</td>
                                <td>{{ t.car_id.ticket_price }}</td>
                                <td>{{ t.car_id.site_id.site_name }}</td>
                                <td>{{ t.car_id.description }}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}

                            </tfoot>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newsalesman">
            +
        </button>
    </div>


    <!-- Salesman -->
    <div class="modal fade" id="newsalesman" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="salesmanlongtitle" style="float:left;"> Salesman </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            style="float:right;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form method="POST">

                        {% csrf_token %}

                        <div class="row">
                            <div class="form-group col-md-5">
                                <label class="my-1 mr-2" for="salesman_fname">First Name</label>
                                <textarea class="form-control" id="salesman_fname" name="salesman_fname"
                                          rows="1" required></textarea>
                            </div>
                            <div class="form-group col-md-5">
                                <label class="my-1 mr-2" for="salesman_lname">Last Name</label>
                                <textarea class="form-control" id="salesman_lname" name="salesman_lname"
                                          rows="1" required></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-5">
                                <label class="my-1 mr-2" for="salesman_email">Email</label>
                                <textarea class="form-control" id="salesman_email" name="salesman_email"
                                          rows="1" required></textarea>
                            </div>
                            <div class="form-group col-md-5">
                                <label class="my-1 mr-2" for="salesman_password">Password</label>
                                <textarea class="form-control" id="salesman_password" name="salesman_password"
                                          rows="1" required></textarea>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                            </button>
                            <input type="submit" class="btn btn-primary" value="Submit" name="SALESMAN"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h2> Potential Sales</h2>
        <!-- Potential Table -->
        <table id="dtOrderExample" class="table table-striped table-bordered table-sm" cellspacing="0"
               width="100%">
            <thead>
            <tr>
                <th class="th-sm">Customer Name</th>
                <th class="th-sm">Car ID</th>
                <th class="th-sm">Color</th>
                <th class="th-sm">Make & Model</th>
                <th class="th-sm">Year</th>
                <th class="th-sm">Mileage</th>
                <th class="th-sm">Price</th>
                <th class="th-sm">Lot</th>
                <th class="th-sm"></th>
            </tr>
            </thead>
            <tbody>
            {% for p in potentials%}
            <tr>

                <td>{{ p.customer_id.f_name }} {{ p.customer_id.l_name }}</td>
                <td>{{ p.car_id.car_id}}</td>
                <td>{{ p.car_id.color_id.color}}</td>
                <td>{{ p.car_id.mm_id.make }} {{ p.car_id.mm_id.model }}</td>
                <td>{{ p.car_id.year }}</td>
                <td>{{ p.car_id.mileage }}</td>
                <td>{{ p.car_id.ticket_price }}</td>
                <td>{{ p.car_id.site_id.site_name }}</td>

                <td>
                    <div class="text-center vcenter" style="padding-right:10px">
                        <form method="POST">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#confirm_sell_{{p.potential_id}}">Sell
                            </button>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#confirm_deny_{{p.potential_id}}">Deny
                            </button>
                        </form>
                    </div>

                    <!-- Sell -->
                    <div class="modal fade" id="confirm_sell_{{p.potential_id}}">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <input class="hidden" name="employee_id" value="1">
                                        <input class="hidden" name="potential_id" value="{{p.potential_id}}">
                                        Are you sure you want to sell this vehicle?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                                        </button>
                                        <input type="submit" class="btn btn-primary" value="Submit" name="SELL"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Deny -->
                    <div class="modal fade" id="confirm_deny_{{p.potential_id}}">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <input class="hidden" name="employee_id" value="1">
                                        <input class="hidden" name="potential_id" value="{{p.potential_id}}">
                                        Are you sure you want to deny this potential purchase?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                                        </button>
                                        <input type="submit" class="btn btn-primary" value="Submit" name="DENY"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
            {% endfor %}

            </tfoot>
        </table>
    </div>


</div>


{% endblock %}