body {
    background-color: #FFFFFF;
    color: #444444;
}

.logo-background {
    position: relative;
    background-color: #000000;
}

.logo-image {
   width:10%;
   float:left;
}

.logo-icon {
   height:400%;
   background-color: #000000;
   border-radius: 300px;
   border:1px solid;
   border-color:#111111;
}
.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}


.list-group{
    border:2px solid;
    padding:10px;
    background-color:#CCCCCC;
    }

.list-group .list-group-item {
    border:2px solid;
}

.description{
    float:left;
    width:50%;
    padding:10px;
}

.setting{
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
}

.d-block{
    width:100%;
}

.navbar{
margin:0;
background-color: #222222;
    color: #444444;
}

.overlay {
    background: #888888;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
    z-index:2019;
}

footer{
background-color:#222222;
display:block;
height:100%;
}
